$padding-inline: 2rem;
$container-max-width: 142rem;

$large-breakpoint: 144rem;
$notebook-breakpoint: 130rem;
$tablet-breakpoint: 100rem;
$mobile-breakpoint: 90rem;

$main-color: #00bdd7;
$main-dark: #0087ab;
$grey-color: #dddfe0;

.grey-bg {
  background-color: $grey-color;
}
